body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #ffe1ad;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

hr {
  clear: both;
  height: 2px;
  background-color: #02b3e4;
  border:0;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-size: 2em;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

h4, h5 {
  margin: 0; 
  font-size: 1.5em;
  font-weight: 100;
}

header {
  max-width: 100%;
  padding: 1%;
}

footer {
  width: 100%;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #02b3e4;
  padding: 1em 0 1em 0;
}

a:visited{
  color: #7d97ad;
  padding: 1em;
}

.upper {
  text-transform: uppercase;  
}

.name {
  float: right;
  text-align: right;
}

.feature-head {
  width: 100%;
  font-weight: bold;
  color: #02b3e4;
}

.project {
  box-sizing: border-box;
  width: 33%;
  padding: 2%;
  margin-bottom: 2em;
}

.icon {
  height: 100px;
  width: 100px;
  display: block;
  position:relative;
  margin: 0 auto 1em auto;
}

.top {
  display: block;
  position:relative;
  margin: 1em auto 1em auto;
}

.logo {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 750px) {
  .project{
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h2, h3 {
    font-size: 1.5em;
  }

  h4, p {
    font-size: 1em;
  }

  .logo {
    width: 40px;
    height: 40px;
    float: left;
  }
}
